
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using PPC_Rental_2017.Models;
@model IEnumerable<PPC_Rental_2017.Models.News_and_Events>


<!DOCTYPE html>
<html>
<body>
    <div>
        <div class="col-md-1">
            @*<img src="~/Images/ImageSale/if_scroll left_36560.png" style="width:38px; margin-left: 50%" />*@
        </div><h1 style="margin-top: 10px;">Danh sách tin tức</h1>
    </div>
    <div class="card mb-3" style="margin-top: 10px;">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table
        </div>
        <div class="card-body" style="padding:0;">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           
                            <th>Tên tin tức</th>
                            <th>Hình ảnh</th>
                            <th>Nội dung</th>  
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                           
                            <th>Tên tin tức</th>
                            <th>Hình ảnh</th>
                            <th>Nội dung</th>
                            <th>Công cụ</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (News_and_Events item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modle => item.Title)</td>
                                <td><img src="~/Images/News/@item.Images" style="width: 50px;" /></td>
                                <td>@item.ShortDescription.Substring(0, 30)...</td>
                                
                                <td>
                                    @Html.ActionLink("Detail", "", new { id = item.ID }) |
                                    @Html.ActionLink("Add", "addnews", new { id = item.ID }) |
                                    @Html.ActionLink("Edit", "editnews", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete2", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
</body>
</html>

