@using PPC_Rental_2017.Models;
@model team15Entities
<link href="~/Content/StyleSearch.css" rel="stylesheet" />


<form role="search" action="@Url.Action("Search","Home")" method="post">
    <div class="col col-md-12 col col-sm-6">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span>FIND YOUR PLACE</h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-12">

                <select class="form-control selectpicker" style="margin-top:20px" name="gia">
                    <option class="bs-title-option" value="Giá">Giá</option>
                    <option value="Dưới 50.000">Dưới 50.000</option>
                    <option value="Từ 50.000-100.000">Từ 50.000-100.000</option>
                    <option value="Từ 100.000-150.000">Từ 100.000-150.000</option>
                    <option value="Trên 150.000">Trên 150.000</option>
                </select>


                @*<select class="form-control selectpicker" style="margin-top:25px" name="loaida" >
                        <option class="bs-title-option" value="Loại Dự Án">Loại dự án</option>
                        @foreach (PROPERTY_TYPE pt in Model.PROPERTY_TYPE)
                        {
                            <option value="@pt.CodeType">@pt.Description</option>
                        }
                    </select>
                    <select class="form-control selectpicker" style="margin-top:25px" name="quanhuyen">
                        <option class="bs-title-option" value="Quận/Huyện">Quận/Huyện</option>
                        @foreach (DISTRICT dt in Model.DISTRICTs)
                        {
                            <option value="@dt.DistrictName">@dt.DistrictName</option>
                        }
                    </select>       *@
                <select class="form-control selectpicker" style="margin-top:20px" name="baidauxe">
                    <option class="bs-title-option" value="Bãi đậu xe">Bãi đậu xe</option>
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                </select>
                <select class="form-control selectpicker" style="margin-top:20px" name="phongtam">
                    <option class="bs-title-option" value="Phòng tắm">Phòng tắm</option>
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                </select>
                <select class="form-control selectpicker" style="margin-top:20px" name="phongngu">
                    <option class="bs-title-option" value="Phòng ngủ">Phòng ngủ</option>
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                </select>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="searchtxt" style="margin-top:20px">
                </div>
                <button type="submit" class="btn btn-primary form-control searchform" style="margin-top:18px">Find</button>
            </div>
        </div>
    </div>
</form>