@model IEnumerable<PPC_Rental_2017.Models.PROPERTY>
@using PPC_Rental_2017.Controllers;
@{
    ViewBag.Title = "Home Page";
}

<!--Header-->
<title>Table</title>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/myStyle.css">
<div class="container-fluid" style="margin-bottom:3%">
    <div class="row">
        <div class="inner-bg text-center">
            <p></p>
        </div>
    </div>
    <!--Khung tìm kiếm-->
    <!--List Project of Company-->
    <hr />
    <div style="margin-top:40px">
        <div style="font-size:22px;border-bottom:3px solid #ff6a00;font-weight:bold;margin-top:3%;">CHOOSE YOUR PLACE</div>
        <div style="margin-top:2%">
            <div class="row">
                <div class="col-md-9">
                @{int count = 0;}
                @foreach (var Item in Model)
                {
                    
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail" style="margin-top:2%">
                            <img src="~/Images/Item/@Item.Avatar">
                            <div class="caption" style="height:250px; margin-top:3%">
                                <h3 class="h3ac" style="color:cornflowerblue">@Item.PropertyName</h3>
                                <p style="color:cornflowerblue; font-weight:bold">Giá bán:@Item.Price USD</p>
                                <p style="color:cornflowerblue; font-weight:bold">Địa chỉ: @Item.DISTRICT.DistrictName, @Item.WARD.WardName, @Item.STREET.StreetName</p>
                                <p style="bottom:5px; position:absolute"><a href="~/Home/ViewDetailProject/@Item.ID" class="btn btn-primary" role="button">Xem chi tiết</a> <a href="#" class="btn btn-default" role="button">Liên hệ</a></p>
                            </div>
                        </div>
                    </div>
                    count++;
                    if (count == 6)
                    {
                        break;
                    }

                }
                 </div>
                <div class="col col-sm-6 col-md-3">
                    @Html.Action("filter", "home")
                </div>
            </div>
                
        </div>
        <div>
            <div><h2>NEWS AND EVENT</h2></div>
            <div class="row">
                
                
            </div>
        </div>
    </div>
</div>